<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Heading of my Website </h1>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reprehenderit reiciendis inventore cum, doloribus accusamus aspernatur, voluptate dolore error laboriosam placeat aliquid explicabo tenetur similique id in, et consequatur odit.</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>heading1</th>
                <th>heading2</th>
                <th>heading3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>col1</td>
                <td>col2</td>
                <td>col3</td>
            </tr>
            <tr>
                <td>col1</td>
                <td>col2</td>
                <td>col3</td>
            </tr>
        </tbody>
    </table>
    <img src="https://git-scm.com/images/logo@2x.png" alt="git logo">

</body>
</html>